App_WebReferences/TrempsService/TrempsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidatePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidatePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidatePasswordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidatePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ValidatePassword" />
  </wsdl:message>
  <wsdl:message name="ValidatePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ValidatePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="TrempsServiceSoap">
    <wsdl:operation name="ValidatePassword">
      <wsdl:input message="tns:ValidatePasswordSoapIn" />
      <wsdl:output message="tns:ValidatePasswordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrempsServiceSoap" type="tns:TrempsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidatePassword">
      <soap:operation soapAction="http://tempuri.org/ValidatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TrempsServiceSoap12" type="tns:TrempsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidatePassword">
      <soap12:operation soapAction="http://tempuri.org/ValidatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrempsService">
    <wsdl:port name="TrempsServiceSoap" binding="tns:TrempsServiceSoap">
      <soap:address location="http://localhost:49672/WebServiceForTremps/TrempsService.asmx" />
    </wsdl:port>
    <wsdl:port name="TrempsServiceSoap12" binding="tns:TrempsServiceSoap12">
      <soap12:address location="http://localhost:49672/WebServiceForTremps/TrempsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>